.wbdv-course-manager {
    justify-content: center;
    text-align: center;
    padding: 10px;
}

@media only screen and (max-width: 900px){
    .wbdv-owner {
        display: none;
    }
    thead {
        display: none;
    }

    .wbdv-modified-date {
        display: none;
    }

}


.wbdv-last-modified {
}

.wbdv-grid-layout {
    text-align: right;
}

.wbdv-list-layout {

}

.wbdv-course-list-table {
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

th {
    padding: 0.25em 0.5em 0.25em 1em;
    vertical-align: text-top;
    text-align: left;
    text-indent: -0.5em;
}

.wbdv-header {
    white-space: nowrap;
    text-align: center;
}


li {
    padding-bottom: 10px;
    padding-right: 50px;
}

nav {
    background-color: antiquewhite;
}


.wbdv-sort {
    background-color: beige;
    padding-bottom: 5px;
}

.wbdv-row {

}

.wbdv-course {

}

.wbdv-modified-date {

}

form {
    padding: 5px;
}


h5 {
    padding: 3px;
}

