h1 {

}

body {
    background-color: antiquewhite;
}

.form-label {
    margin-bottom: 10px;
}

.wbdv-label {
    justify-content: left;
}

table {
    display: flex;
    flex-flow: column;
    width: 100%;
}

thead {
    flex: 0 0 auto;
    position: sticky;
}

th {
    flex: 0 0 auto;
    position: sticky;
}

tbody {
    flex: 1 1 auto;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}

tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}

.wbdv-login {
    text-align: center;
}

.wbdv-header {

}

.wbdv-username {
    color: white;
}

.wbdv-password {
}

.wbdv-field {
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}

.wbdv-hamburger {
    padding: 5px;
}

.wbdv-button {

}

.wbdv-link {
}

.collapse-ul {
    list-style-type: none;
}

