.wbdv-course-editor {

}

.wbv-close {

}

.wbdv-course-title {
    font-weight: bold;
}

.wbdv-lesson-tabs {
    background-color: cornsilk;
    border-radius: 5px;
}

.wbdv-lesson-add-btn {

}

.wbdv-module-list {

}

.wbdv-module-item {
    border-radius: 5px;
    margin: 0 0 7px 0;
    background-color: cornsilk;

}

.wbdv-module-item-title {
    font-size: 22px;
}

.wbdv-module-item-delete-btn {

}

.wbdv-module-item-add-btn {

}

.wbdv-topic-pill-list {
    flex-flow: nowrap;
    justify-content: space-between;
    align-content: center;
}

.wbdv-topic-pill {
    text-align: center;
    border-radius: 5px;
}

.wbdv-topic-add-btn {

}

.center-icon i li {
    display: flex;
    align-items: center;
}

.row {
    padding: 5px;
}

h1 h3 {
    margin: 2px;
}

.top-navbar{
    justify-content: space-between;
}

.wbdv-widget {
    margin-bottom: 15px;
    border: 2px solid gainsboro;
    border-radius: 25px;
}

