.wbdv-course-editor {

}

.wbv-close {

}

.wbdv-course-title {

}

.wbdv-lesson-tabs {

}

.wbdv-lesson-add-btn {

}

.wbdv-module-list {

}

.wbdv-module-item {

}

.wbdv-module-item-title {

    font-size: 22px;
}

.wbdv-module-item-delete-btn {

}

.wbdv-module-item-add-btn {

}

.wbdv-topic-pill-list {

}

.wbdv-topic-pill {

}

.wbdv-topic-add-btn {

}

.center-icon i li {
    display: flex;
    align-items: center;
}

fas {
    color: red;
}



