.sign-in-header {
    text-align: center;
}

.form-username-password {
    /*border: 3px solid cadetblue;*/
    padding: 10px;
    margin-bottom: 10px;
}



.wbdv-forgot-password {

}

.wbdv-register {
}

.wbdv-cancel {
}

.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}

